* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* melikeaksoy/BE-10-Create-the-404-page start */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: #303030;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
  max-width: 1404px;
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 20px;
}

.not-found .img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found .error-title {
  position: absolute;
  text-align: center;
  color: #880e4f;
  font-family: "Montserrat", sans-serif;
  font-size: 170px;
  font-weight: bold;
}

.not-found .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  border-left: 2px solid #979797;
  padding-left: 79px;
}

.not-found .nfound-img {
  max-width: 412px;
}

.not-found .nfound-body {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: white;
}

.not-found .nfound-title {
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
}

.not-found .nfound-btn {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px 40px;
  color: #e91e63;
  border-radius: 30px;
  border: 3px solid #e91e63;
  max-width: 410px;
}

/* melikeaksoy/BE-10-Create-the-404-page end*/

/* melikeaksoy/BE-8-404-Page-responsiveness start*/

@media screen and (max-width: 1600px) {
  .not-found {
    max-width: 1000px;
    gap: 10rem;
  }

  .not-found .error-title {
    font-size: 100px;
  }

  .not-found .text-content {
    gap: 40px;
    padding-left: 60px;
  }

  .not-found .nfound-img {
    max-width: 300px;
  }

  .not-found .nfound-body {
    font-size: 28px;
  }

  .not-found .nfound-title {
    font-size: 40px;
  }

  .not-found .nfound-btn {
    font-size: 28px;
    max-width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .not-found {
    max-width: 800px;
    gap: 4rem;
  }

  .not-found .nfound-title {
    white-space: normal;
  }

  .not-found .nfound-btn {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 800px) {
  .not-found {
    flex-direction: column;
    justify-content: center;
  }

  .not-found .text-content {
    border-left: none;
  }
}

@media screen and (max-width: 500px) {
  .not-found .error-title {
    font-size: 70px;
  }

  .not-found .text-content {
    gap: 20px;
  }

  .not-found .text-content {
    padding-left: 30px;
  }

  .not-found .nfound-img {
    max-width: 200px;
  }

  .not-found .nfound-body {
    font-size: 22px;
  }

  .not-found .nfound-title {
    font-size: 28px;
  }

  .not-found .nfound-btn {
    font-size: 20px;
    max-width: 250px;
  }
}
/* melikeaksoy/BE-8-404-Page-responsiveness end*/
